@model IEnumerable<BEUEjercicio.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">

    <thead class="bg-primary">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo_lib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor_lib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_publicacion_lib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_lib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.nombre_cat)
            </th>
            <th></th>
        </tr>

    </thead>
  

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo_lib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor_lib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_publicacion_lib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_lib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.nombre_cat)
        </td>
        <td>

            <div class="btn-group">
                @Html.ActionLink("  ", "Edit", new { id = item.id_lib }, htmlAttributes: new { @class = "btn btn-sm btn-warning glyphicon glyphicon-pencil", @title = "Editar" })
                @Html.ActionLink("  ", "Details", new { id = item.id_lib }, htmlAttributes: new { @class = "btn btn-sm btn-primary glyphicon glyphicon-search", @title = "Ver" })
                @Html.ActionLink("  ", "Delete", new { id = item.id_lib }, htmlAttributes: new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash", @title = "Borrar" })
            </div>
        </td>
    </tr>
}

</table>
